<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do</title>
  </head>
  <body>
    <h3 class="h3_1">Task title :</h3>
    <input type="text" name="title" id="" />
    <h3 class="h3_2">Task desc :</h3>
    <input type="text" name="desc" id="" />
  </body>
</html>
